<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '404 Error' })%>
  <body>
    <h1>🚨404 Error</h1>
    <p>죄송합니다. 해당 URL은 접근할 수 없는 주소입니다.</p>
    <!-- TODO: href 속성값 설정하기 -->
    <a href="/user">HOME</a>
  </body>
</html>
