<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: 'mvc 회원가입/로그인 구현' })%>
  <body>
    <h1>mvc로 회원가입과 로그인 DB 연동</h1>
    <!-- TODO: href 속성값 설정하기 -->
    <a href="/user/signup">회원가입</a>
    <a href="/user/signin">로그인</a>
  </body>
</html>
