<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쿠키 연습</title>
</head>

<body>
  <h1>cookie</h1>

  <a href="/cookie/setCookie">쿠키 설정</a>
  <a href="/cookie/getCookie">쿠키 확인</a>
  <a href="/cookie/clearCookie">쿠키 제거</a>
</body>

</html>